.jumbotron{
    background-image: url(https://firebasestorage.googleapis.com/v0/b/jjssite-37298.appspot.com/o/DSC_0452.JPG?alt=media&token=eb06a2c7-c4f7-498a-a5bc-cfbe42f5efc4);
     background-size: 100% 100%;
    background-repeat: no-repeat;
    color: antiquewhite
    }